html, body{
        height: 98%;
        width: 99%;
        padding: 0;
        margin: 0;
}

body {
        background-color: dimgray;
        display: grid;
        grid-template-areas:
                'header header'
                'nav nav'
                'aside main'
                'footer footer';
        grid-template-rows: 10% 7% 65% 12%;
        grid-template-columns: 17% auto;
        gap: 10px;
        padding: 10px;

}

header{
        background-color: red;
        grid-area: header;
}
nav{
        background-color: rosybrown;
        grid-area: nav;

        display: grid;
        grid-template-areas: 'a1 a2 a3 a4';
}
menu{
        background-color: greenyellow;
        grid-area: menu;
}
main{
        background-color: darkolivegreen;
        grid-area: main;
}

section, article{
        height: 100%;
}
aside{
        background-color: purple;
        grid-area: aside;
}
footer{
        background-color: mediumseagreen;
        grid-area: footer;
}


p#titulo, p#nombre{
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        top: 50%;       
}
p#articulo{
        text-indent: 100px;
        letter-spacing: 1px;
        word-spacing: 3px;
        
        margin: auto;
        padding: 0;
        width:  50%;
        position: relative;
        top:    3%;

}



a{
        grid-area: a1 a2 a3 a4;
        text-align: center;
        position: relative;
        top: 25%;
}