h1{
    text-align: center;
}

header
{
    display: flex;
    top: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    justify-content: center;
}
p
{
    margin-top: auto;
    margin-bottom: auto;
}
nav
{
    margin-top: 5px;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    background-color: grey;
}
nav ul
{
	height:100%;
    width: 100%;
	list-style:none;
	margin:0px;
	padding:0;
    
}
nav li
{
    float: left;
    padding: 0px;
    width: 49.5%;
}
nav li a
{
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	text-align:center;
	text-decoration:none;
}
nav li a:hover
{
	color:white;
	text-decoration:none;
    border-bottom:solid black 3px;
}
nav ul li:hover a
{
    color:white;
	text-decoration:none;
    
}
nav li ul{
    background:darkgray;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:30%;
    z-index:200;
}
nav li:hover ul{
    display:block;  
    
}
nav li li {
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:100%;
}
nav li:hover li a{
    background:none;
    
}
nav li ul a{
    display:block;
    height:35px;
    width: 100%;
    text-align:left;
    
}
nav li ul a:hover, nav li ul li:hover a{
    background:#2580a2 center left no-repeat;
    border:0px;
    color:white;
    text-decoration:none;
}
main
{
    display: flex;
    justify-content: center;
    
}
section
{
    height: 570px;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
#arriba
{
    height: 245px;
    text-align: center;
    padding: 5px;
}
#bajo
{
    height: 55%;
    width: 100%;
    text-align: center;
}
footer
{
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
}

@media( 400px <= width <= 800px ){
    body{
        font-family: "Cambria";
        font-size: 8pt;
        color: blue;
        background-image: url(../../img/fondo1.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    a{
        color: blue;
    }
}

@media( 800px < width <= 1200px ){
    body{
        font-family: "Comic Sans MS";
        font-size: 10pt;
        color: green;
        background-image: url(../../img/fondo2.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    a{
        color: green;
    }
}

@media( 1200px < width <= 1600px ){
    body{
        font-family: "Times New Roman";
        font-size: 12pt;
        color: yellow;
        background-image: url(../../img/fondo3.jpeg);
        background-repeat: repeat;
        background-size: cover;
    }
    a{
        color: yellow;
    }
}

@media( 1600px < width ){
    body{
        font-family: "Courier New";
        font-size: 14pt;
        color: orange;
        background-image: url(../../img/fondo4.jpg);
        background-repeat: repeat;
        background-size: cover;
    }
    a{
        color: orange;
    }
}
