body{
   
        font-family: "Calibri";
        font-size: 6pt;
        color: red;
    }


@media( 400px <= width <= 800px ){
    body{
        font-family: "Cambria";
        font-size: 8pt;
        color: blue;
    }
    a:link,a:visited,a:focus, a:hover, a:active{
        color: blue;
        text-decoration: none;
    }
}

@media( 800px < width <= 1200px ){
    body{
        font-family: "Comic Sans MS";
        font-size: 10pt;
        color: green;
        
    }

    a:link,a:visited,a:focus, a:hover, a:active{
        color: green;
        text-decoration: none;
    }
}

@media( 1200px < width <= 1600px ){
    body{
        font-family: "Times New Roman";
        font-size: 12pt;
        color: yellow;
    }
    a:link,a:visited,a:focus, a:hover, a:active{
        color: yellow;
        text-decoration: none;
    }
}

@media( 1600px < width ){
    body{
        font-family: "Courier New";
        font-size: 14pt;
        color: orange;
    }
    a:link,a:visited,a:focus, a:hover, a:active{
        color: orange;
        text-decoration: none;
    }
}
